<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunland.xsparkmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_parking"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view_controller.Ac_setting"></activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0a53968eb73064217d716d695160ab81" />

        <activity android:name=".view_controller.Ac_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".view_controller.Ac_base" />
        <activity android:name=".view_controller.Ac_index" />
        <activity android:name=".view_controller.tow_car.Ac_Nav" />
        <activity android:name=".view_controller.parkManager.Ac_qrscan_result" />
        <activity android:name=".view_controller.tow_car.Ac_address_tips" />
        <activity android:name=".view_controller.tow_car.RouteNaviActivity" />
        <activity android:name=".view_controller.police.Ac_functions" />
        <activity
            android:name=".view_controller.police.Ac_record_list"
            android:launchMode="singleTask" />
        <activity android:name=".view_controller.police.Ac_search_car_record" />
        <activity android:name=".view_controller.police.Ac_filter" />
        <activity
            android:name=".view_controller.police.Ac_request_list"
            android:launchMode="singleTask" />
        <activity
            android:name=".view_controller.police.Ac_approval_list"
            android:launchMode="singleTask" />
        <activity android:name=".view_controller.police.Ac_record_detail" />
        <activity
            android:name=".view_controller.police.Ac_record_editor"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <activity android:name=".view_controller.police.Ac_request_detail" />
        <activity android:name=".view_controller.police.Ac_approval_detail" />
        <activity android:name=".view_controller.police.Ac_force_certi_list" />
        <activity android:name=".view_controller.police.Ac_force_certi_detail" />
        <activity android:name=".view_controller.police.Ac_force_certi_editor" />
        <activity
            android:name=".view_controller.parkManager.Ac_park_funciton"
            android:launchMode="singleTask" />
        <activity android:name=".view_controller.tow_car.Ac_task_list" />
        <activity android:name=".view_controller.police.Ac_tow_car_position" />

        <activity android:name="com.amap.api.maps.offlinemap.OfflineMapActivity"
            android:screenOrientation="portrait"  />
    </application>

</manifest>